<div class="w-full h-full bg-black">
  <div class="max-w-5xl mx-auto pt-12">
    <div class="relative w-full h-0" style="padding-bottom: 56.25%;">
      <iframe class="absolute inset-0 h-full w-full" src="https://www.youtube.com/embed/Rn_IpNhFEos" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>

