<div class="w-full h-full bg-black text-white max-w-5xl mx-auto h-full text-center ">

	<div class="py-4 px-3 text-center">
    	<h1 class="font-serif inline text-5xl">compass EP</h1>
  	</div>

	<div class="text-2xl flex flex-col space-y-4 font-bold font-serif max-w-xs mx-auto"> 
		
		<a class="border border-white rounded p-2 hover:bg-white hover:text-black" href="https://treasurer.bandcamp.com/">bandcamp</a>
		<a class="border border-white rounded p-2 hover:bg-white hover:text-black" href="https://open.spotify.com/artist/0LK9Rv7izOOzQk5nQSLAy0?si=4KV11QbmSYe8X_5vqxJnXA">spotify</a>
		<a class="border border-white rounded p-2 hover:bg-white hover:text-black" href="https://music.apple.com/us/artist/treasurer/626880106">apple music</a>
		<a class="border border-white rounded p-2 hover:bg-white hover:text-black" href="https://www.youtube.com/channel/UCOCqFPt4QXzHuHJKhTHd5rA">youtube</a>

	</div>

	<div class="p-4">
	<%= link_to 'make your own link tree', linktrees_path, class: 'text-white underline text-lg' %>
	</div>
</div>